@charset "utf-8";
/* CSS Document */
/*Menu*/
.navbar .navbar-nav{
	border-radius: 20px;
	border: 2px solid white;
	padding: 10px 30px;
	background-color:hsla(0,0%,100%,0.60)
}
.navbar .navbar-nav .nav-item .nav-link{
	padding: 0px 20px;
	font-weight: bold;
	color: black;
	font-size: 17px
}
.navbar .navbar-nav .nav-item .nav-link:hover{
	color:hsla(196,100%,58%,1.00)
}
header{
	position: none;
	z-index: 1000px;
	width: 100%;
	top: 0;
	left: 0;
}
body{
	margin: 0;
}
.navbar .navbar-nav .nav-item .text-shop{
	color: hsla(196,100%,58%,1.00);
	border-radius: 20px;
}
.navbar .navbar-nav .nav-item .text-shop:hover{
	color: white;
	background-color:hsla(196,100%,58%,1.00);
	border-radius: 20px;
}
.navbar .navbar-nav .nav-item .dropdown-menu {
	background-color:hsla(0,0%,100%,0.60);
	padding: 0;
}
.navbar .navbar-nav .nav-item .dropdown-menu li a {
	font-weight: 500;
	color: black;
}
.navbar .navbar-nav .nav-item .dropdown-menu li{
	border-bottom: 1px solid white;
}
.navbar .navbar-nav .nav-item .dropdown-menu li a:hover{
	color: hsla(196,100%,58%,1.00);
	
}
.navbar .vienthuoc{
	border-radius: 20px;
	background-color: white;
	display: flex;
	padding: 3px 3px 
}
.navbar .vienthuoc .thuoctrai{
	font-weight: bold;
	margin-right: 0px;
	background-color: white;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	padding: 5px 3px 5px 15px;
}
.navbar .vienthuoc .thuoctrai a{
	text-decoration: none;
	color: black
}
.navbar .vienthuoc .thuoctrai:hover{
	background-color: hsla(0,0%,100%,0.60);
	color: hsla(0,0%,0%,0.64);
	cursor: pointer
}
.navbar .vienthuoc .thuocphai:hover{
	background-color: hsla(0,0%,100%,0.60);
	color: hsla(0,0%,0%,0.64);
	cursor: pointer
}
.navbar .vienthuoc .thuocphai a{
	text-decoration: none;
	color: black;
}
.navbar .vienthuoc .thuocphai a:hover{
	color: hsla(0,0%,0%,0.64);
	cursor: pointer
}
.navbar .vienthuoc .thuoctrai a:hover{
	color: hsla(0,0%,0%,0.64);
	cursor: pointer
}
.navbar .vienthuoc .thuocphai{
	font-weight: bold;
	margin-left: 0px;
	background-color: white;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
	padding: 5px 15px 5px 3px;
	text-decoration: none;
}
.navbar .vienthuoc .thuoc.active{
	background-color: hsla(196,100%,58%,1.00);
}

/*footer*/
main{
	width: 100%;
	min-height: 800px;
}
/*footer*/
footer{
	background: rgb(104,214,227);
background: linear-gradient(324deg, rgba(104,214,227,1) 0%, rgba(44,212,206,1) 100%);
	width: 100%;
	min-height: 450px;
}
footer .navbar-nav{
	display: flex;
	flex-direction: row;
}
footer .navbar-nav .nav-item{
	padding-right: 15px;
	color: white;
	font-weight: 700;
}
footer .navbar-nav .nav-item .nav-link{
	font-size: 15px;
	font-weight: 600
}
footer h5{
	font-size: 16px;
	color: white
}
footer .gach-duoi{
	border-bottom: 1px solid white;
	padding-bottom: 10px
}
@media (max-width:667px){
	footer{
		text-align: center;
	}
	footer .navbar-nav{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
.border-bot{
	border-bottom: 3px dotted hsla(196,100%,58%,1.00)
}
/*banner*/
.banner-r{
	position: relative
}
.cover{
	position: absolute;
	width: 90%;
	height: 90%;
	top: 5%;
	left: 5%;
	background-color: hsla(0,0%,0%,0.60);
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform: scale(0) rotate(360deg);
	transition: all 1s
}
.banner-r:hover .cover{
	transform: scale(1) rotate(0deg)
}
/*banner*/
.kenburns-top {
	-webkit-animation: kenburns-top 30s ease-out 2s infinite both;
	        animation: kenburns-top 30s ease-out 2s infinite both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-7-29 20:38:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */
@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}
.overlow-hid{
	overflow: hidden;
}
#banner-index{
	width: 100%;
	min-height: 500px;
	padding-bottom: 20px;
}
#about-index{
	width: 100%;
	min-height: 400px;
}
#about-index .about-index-text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	background-color:hsla(195,45%,91%,1.00);
	padding: 120px 0px;
}
#about-index .about-index-text .btn-viewmore{
	border-radius: 20px;
	color: white;
	font-weight: bold;
	border: none;
}
#about-index .about-index-text .btn-viewmore:hover{
color: #0dcaf0;
}
#talent-index{
	width: 100%;
	min-height: 400px;
	background-color:white;
}
#talent-index .talent-index-box{
	width: 100%;
	min-height: 150px;
	background-color: white;
}
#talent-index .img-talent{
	width: 250px;
	height: auto;
}
#talent-index .talent-posi{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
}
#talent-index .talent-posi p{
	font-weight: bold;
	color: hsla(196,100%,58%,1.00);
	font-size: 20px;
}
#talent-index .border-b-talent{
	border-bottom: 2px solid hsla(0,5%,79%,0.54);
}
#talent-index a:hover{
	cursor: pointer;
}
.border-t-talent{
	border-top: 2px solid hsla(0,5%,79%,0.54);
}
/*Shop*/
#shop-index{
	width: 100%;
	min-height: 350px;
	background-color: white;
}
#shop-index img{
	width: 500px;
	height: auto;
}
#shop-index .shop-index-canhgiua{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px;
}
#shop-index .btn-shop-chu{
	font-weight: bold;
}
#shop-index .btn-shop-chu:hover{
	color: white;
}
#shop-digital{
	width: 100%;
	min-height: 300px;
}
.img-shop{
	width: 350px;
	height: auto;
	margin-top: 10px;
}
.hinh-sp{
	position: relative;
	overflow: hidden;
}
.icon-sp{
	position: absolute;
	width: 80%;
	left: 10%;
	top: 120%;
	display: flex;
	justify-content: space-around;
	transition: all 0.8s;
}
.icon-sp a{
	width: 45px;
	height: 45px;
	border-radius: 50%;
	color: hsla(196,100%,58%,1.00);
	border: 1px solid hsla(196,100%,58%,1.00);
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}
.icon-sp a:hover{
	background-color:black;
	color: white;
}
.hinh-sp:hover .icon-sp{
	top: 60%;
}
#sp-digital .owl-nav { position:absolute; left:0px; top:30%; width:100%; }
#sp-digital .owl-nav [class*='owl-'] {
	font-size:60px; /*background:rgba(255,255,255,.5);border:1px solid #fff; */ color: hsla(196,100%,58%,1.00)
}

#sp-digital .owl-nav .owl-next{ position:absolute; right:-2%;}
#sp-digital .owl-nav .owl-prev{ position:absolute; left:-2%;}
#sp-digital .owl-nav [class*='owl-']:hover {
      background:none;border: none;
      color:black;
      text-decoration: none; }

#sp-regular .owl-nav { position:absolute; left:0px; top:30%; width:100%; }
#sp-regular .owl-nav [class*='owl-'] {
	font-size:60px; /*background:rgba(255,255,255,.5);border:1px solid #fff; */ color: hsla(196,100%,58%,1.00)
}

#sp-regular .owl-nav .owl-next{ position:absolute; right:-2%;}
#sp-regular .owl-nav .owl-prev{ position:absolute; left:-2%;}
#sp-regular .owl-nav [class*='owl-']:hover {
      background:none;border: none;
      color:black;
      text-decoration: none; }

#sp-event .owl-nav { position:absolute; left:0px; top:30%; width:100%; }
#sp-event .owl-nav [class*='owl-'] {
	font-size:60px; /*background:rgba(255,255,255,.5);border:1px solid #fff; */ color: hsla(196,100%,58%,1.00)
}

#sp-event .owl-nav .owl-next{ position:absolute; right:-2%;}
#sp-event .owl-nav .owl-prev{ position:absolute; left:-2%;}
#sp-event .owl-nav [class*='owl-']:hover {
      background:none;border: none;
      color:black;
      text-decoration: none; }
.font-500{
	font-weight: 500;
}
#about-img .owl-nav { position:absolute; left:0px; top:30%; width:100%; }
#about-img .owl-nav [class*='owl-'] {
	font-size:60px; /*background:rgba(255,255,255,.5);border:1px solid #fff; */ color: hsla(196,100%,58%,1.00)
}

#about-img .owl-nav .owl-next{ position:absolute; right:-2%;}
#about-img .owl-nav .owl-prev{ position:absolute; left:-2%;}
#about-img .owl-nav [class*='owl-']:hover {
      background:none;border: none;
      color:black;
      text-decoration: none; }
.font-500{
	font-weight: 500;
}
.mau-gradient{
	font-weight: bold;
	font-size: 16px;
  background: -webkit-linear-gradient(purple, hsla(196,100%,58%,1.00) );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.border-radius{
	border-radius: 20px;
}
.top a{
	text-decoration: none;
	font-weight: bold;
	padding-bottom: 10px;
	border-bottom: 2px solid hsla(196,100%,58%,1.00);
	color: hsla(196,100%,58%,1.00);
	
}
#share{
	width: 100%;
	min-height: 300px;
}
.pl-3{
	margin-right: 10px
}
#share p{
	font-size: 20px;
	padding: 10px;
}
#azki .box{
	width: 100%;
	height: 100%;
	background-color: hsla(196,100%,58%,0.30);
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 15px;
	
}
#azki a:hover{
	color: white;
}
#ending .ending-cha{
	position: relative;
	overflow: hidden
}
#ending .ending-con{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 100%;
	left:0;
	background-color: hsla(0,0%,0%,0.62);
	color: hsla(196,100%,58%,1.00);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 10px;
	transition: all 0.8s;
}
#ending .ending-con a{
	color: white;
}
#ending .ending-con a:hover{
	color:hsla(181,64%,56%,1.00);
}
#ending .ending-cha:hover .ending-con{
	top: 0;
}
@media (max-width:667px){
	#ending .ending-con{
		display: none;
	}
}
#vtuber{
	width: 100%;
min-height: 500px;
}

#vtuber .gen1 p{
	background-color: hsla(267,95%,25%,1.00);
	width: 25%;
	color: white;
	display: flex;
	text-align: center;
	justify-content: center;
	border-radius: 5px;
	margin-top: 10px;
	padding: 4px;
	font-size: 13px;
}
.text-tim{
	color: hsla(267,95%,25%,1.00)
}
.card{
	border:1px solid black;
}
#vtuber .gen2 p{
	background-color:hsla(35,81%,60%,1.00);
	width: 25%;
	color: white;
	display: flex;
	text-align: center;
	justify-content: center;
	border-radius: 5px;
	margin-top: 10px;
	padding: 4px;
	font-size: 13px;
}.text-cam{
	color: hsla(35,81%,60%,1.00);
}
#vtuber .gen3 p{
	background-color:hsla(310,74%,61%,1.00);
	width: 25%;
	color: white;
	display: flex;
	text-align: center;
	justify-content: center;
	border-radius: 5px;
	margin-top: 10px;
	padding: 4px;
	font-size: 13px;
}
#vtuber .card1:hover{
	cursor: pointer;
}